<div class="background"[ngStyle]="{backgroundImage:'url(assets/images/Rectangle-827-copy-2.jpg)'}">
  <div class="container">
    <div class="services">
     <div class="row">
      <div class="col-md-12 col-12 cards">
        <img [src]="doctor[0].image" alt="">
        <h3>{{doctor[0].name}}</h3>
        <span>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
        </span>
        <p>{{doctor[0].paragraph}}</p>
      </div>
     </div>
    </div>
  </div>
</div>
