.container  {
  margin-top: 200px;
  margin-bottom: 30px;
  background-color: #92eaed;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 20px 3px #92eaed;
}

h2 {
  text-align: center;
  margin-bottom: 38px;
  color: white;
  font-weight: bolder;
}

hr {
  border-bottom: 4px solid white;
  margin-bottom: 45px;
}

input {
  border-radius: 20px;
}

.send {
  text-align: right;
}

button {
  background: white;
  border-radius: 20px;
  padding: 9px 18px;
  transition: all .3s ease-in-out;
}


button:hover {
  border: 1px solid #17a2b8;
  background-color:#17a2b8;
  color: white;
  cursor: pointer;
}
