<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <h2>DENTSPA</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Iure, repellat. Sunt ipsum doloremque reprehenderit laborum
                   rem consequuntur ipsa debitis quisquam similique quae amet dignissimos iste
                   , distinctio praesentium illum obcaecati recusandae!</p>

            </div>
            <div class="col-md-4 col-12">
                <h2>Useful Links</h2>
                <a>Home</a>
                <a>Our Doctors</a>
                <a>Gallery</a>
                <a>Contact US</a>
                <a>About US</a>
            </div>
            <div class="col-md-4 col-12">
                <h2>Subscribe to our newsletter</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iure, repellat. Sunt ipsum doloremque reprehenderit laborum</p>
                <form>
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="exampleInputName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>    
            </div>
        </div>
    </div>
</div>