.readMore {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 250px;
    padding-bottom: 250px;
}

img {
    width: 100%;
}

.readMore h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 58px;
}

.readMore hr {
    width: 82px;
    border: 2px solid black;
}

.readMore .offer {
    text-align: center;
    margin-top: 35px;
}

.readMore .implants {
    margin-top: 35px;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

li:hover {
    color: #9ff1fd;
    cursor: pointer;
}

.readMore .same-implants h2 {
    margin-top: 40px;
}

.celebritySmile p {
    margin-top: 10px;
}
