<div class="readMore" [ngStyle]="{backgroundImage:'url(assets/images/page-bg-shape.67f35c46dea88ffb8115.png)'}">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <p>Can you imagine going to work with a missing or a chipped tooth? In today’s modern and fast-paced world, your smile and personality matter a lot! A charming and attractive smile not only gives you an edge at your workplace, but it also makes you look friendlier and more approachable! If you’re not happy with your smile or appearance, Dentspa gives you a fantastic opportunity to get your dental treatment done in a single day.</p>
                    <p>We understand that you have a busy schedule, that is why we provide you premium services on a priority basis. Right from the moment you step into our office, we will make sure that your treatment is done as soon as possible. If you are an eligible candidate, our dentists will fix your dental problems in just one day. Whether you need your teeth replaced with dental implants, teeth whitening, or you need a Hollywood smile, our state-of-the-art dental technology, and an experienced dental team will ensure that your dental needs are taken care of in just one visit.</p>
                </div>
                <h1>Same Day Dentistry at Dentspa
                </h1>
                <hr>
                <div class="offer">
                    <span>Let’s look at what same day dentistry has to offer at Dentspa:</span>
                </div>
                <div class="implants">
                    <img [src]="Implants" alt="">
                </div>
                <div class="same-implants">
                    <h2>Same Day Implants
                    </h2>
                </div>
                <div>
                    <p>Getting your missing teeth replaced with conventional dental implants can take 4-6 months before you can smile again with confidence. This is not acceptable for many people, especially those who have to deal or interact with people in their professional capacities, like bank managers, executes, salespeople or customer care representatives. Therefore, Dentspa offers you to get your missing teeth replaced in a single day with immediate implants.</p>
                    <p>In case of the conventional implants which require 4-6 months before a crown or a bridge can be attached to it. However, in most cases, our dentists can replace your missing teeth with immediate implants in a single day! This means that if you are a suitable candidate for getting immediate implants, we will place the implants and connect the prosthesis immediately after we have inserted the implant into the jaw bone.
                    </p>
                </div>
                <div class="celebritySmile">
                    <img [src]="celebritySmile" alt="">
                   <p><strong>Same Day Celebrity Smile </strong>
                    </p>
                </div>
                <div>
                  <p>Getting your missing teeth replaced with conventional dental implants can take 4-6 months before you can smile again with confidence. This is not acceptable for many people, especially those who have to deal or interact with people in their professional capacities, like bank managers, executes, salespeople or customer care representatives. Therefore, Dentspa offers you to get your missing teeth replaced in a single day with immediate implants.</p>
                  <p>In case of the conventional implants which require 4-6 months before a crown or a bridge can be attached to it. However, in most cases, our dentists can replace your missing teeth with immediate implants in a single day! This means that if you are a suitable candidate for getting immediate implants, we will place the implants and connect the prosthesis immediately after we have inserted the implant into the jaw bone.
                  </p>
              </div>
            </div>
            <div class="col">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Esthetic Denistry
                          </button>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li><a>Teeth Whitening</a></li>
                                <li><a>Dental Bridges</a></li>
                                <li><a>Digital Smile Design</a></li>
                                <li><a>Optimizing Gingival Esthetics</a></li>
                                <li><a>Dental Crowns</a></li>
                                <li><a>Celebrity Smile</a></li>
                            </ul>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                             Orthodontics
                            </button>
                          </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                              <ul>
                                  <li><a>Invisible Orthodontics</a></li>
                                  <li><a>Preventive Orthodontics Myobrace</a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                             Dental Implants
                            </button>
                          </h2>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                              <ul>
                                  <li><a>Immediate Implants</a></li>
                                  <li><a>Multi Teeth Replacement</a></li>
                                  <li><a>Single Teeth Replacement</a></li>
                                  <li><a>All On Four</a></li>
                                  <li><a>Dental Implant Surgery for Beginners</a></li>
                              </ul>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" >
                             Some Day Dentistry
                            </button>
                          </h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" >
                             Pedodontics
                            </button>
                          </h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" >
                             Dental Laser Treatment
                            </button>
                          </h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" >
                             Surgery Dentistry
                            </button>
                          </h2>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

