<navbar-root *ngIf="checkUrl"></navbar-root>
<router-outlet></router-outlet>
<footer-root *ngIf="checkUrl"></footer-root>

<div class="float-sm">
  <div class="fl-fl float-fb">
    <i class="fab fa-facebook-f"></i>
    <a href="" target="_blank"> Like us!</a>
  </div>
  <div class="fl-fl float-tw">
    <i class="fab fa-twitter"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-gp">
    <i class="fab fa-google-plus"></i>
    <a href="" target="_blank">Recommend us!</a>
  </div>
  <div class="fl-fl float-rs">
    <i class="fa fa-rss"></i>
    <a href="" target="_blank">Follow via RSS</a>
  </div>
  <div class="fl-fl float-ig">
    <i class="fab fa-instagram"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
  <div class="fl-fl float-pn">
    <i class="fab fa-pinterest"></i>
    <a href="" target="_blank">Follow us!</a>
  </div>
</div>

